$color: #efeaee;
$color-fuente:#2d3436;
/*primera seccion INDEX*/

.introduccion-index__presentacion-titulo-principal-estilo{
    margin-top: 100px;
    text-align: center;
    color: $color-fuente;
}

.introduccion-index{
    margin: 50px 0px 50px 0px;

    .introduccion-index__caja-video{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 500px;
    }
    .introduccion-index__video{
        width: 100%;
    }

    .introduccion-index__presentacion-texto-principal{
        position: absolute;
        width: 100%;
        height: 300px;
        margin-top: 200px;
        padding: 0px 150px 0px 150px;
        top: 0;
        right: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
    }
}
/* seccion reservas*/
.titulo-reserva-index{
    background: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: $color-fuente;
    background:white;
    margin: 100px 0px 100px 0px;
}
.contenedor-reservas{
    margin: 50px 0px 0px 10px;
}
.tarjeta-deptos{
    display: grid;
    grid-template-areas: 
    "titulo-depto carousel";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    width: 620px;
    height: 250px;
    align-items: center;
    align-content: space-around;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, 0.26);

    .tarjeta-deptos__carousel-depto{
        grid-area: carousel;
        width: 280px;
        height: 207px;
        align-self: center;
        justify-self: center;
    }

    .tarjeta-deptos__titulo{
        grid-area: titulo-depto ;
        align-self: center;
        display: grid;
        grid-template-areas: 
        "titulo titulo titulo titulo titulo titulo"
        "descripcion descripcion descripcion descripcion descripcion descripcion"
        "icono-cama icono-cama-texto icono-cama-doble icono-cama-doble-texto icono-bano icono-bano-texto"
        "boton boton boton boton boton boton";
        grid-template-columns: 30% 10% 20% 10% 20% 10%;
        grid-template-rows: 20% 42% 18% 20%;

        .tarjeta-deptos__titulo-depto{
            grid-area: titulo;
            align-self: center;
            justify-self: center;
            color: $color-fuente;
            font-family: 'Quicksand', sans-serif;
        }
        .tarjeta-deptos__descripcion{
            grid-area: descripcion;
            align-self: center;
            text-align: center;
            color: $color-fuente;
            font-family: 'Quicksand', sans-serif;
        }

        .tarjeta-deptos__descripcion-icono-cama-simple{
            grid-area: icono-cama ;
            justify-self: center;

            .tarjeta-deptos__descripcion-icono-cama-simple--icono{
                width: 30px;
                height: 30px;
            }
        }
        .tarjeta-deptos__descripcion-icono-cama-simple-texto{
            grid-area: icono-cama-texto ;
        }

        .tarjeta-deptos__descripcion-icono-cama-doble{
            grid-area: icono-cama-doble;
            justify-self: center;

            .tarjeta-deptos__descripcion-icono-cama-doble--icono{
                width: 30px;
                height: 30px;
            }
        }

        .tarjeta-deptos__descripcion-icono-cama-doble-texto{
            grid-area: icono-cama-doble-texto;
        }

        .tarjeta-deptos__descripcion-icono-bano{
            grid-area: icono-bano;
            justify-self: center;

            .tarjeta-deptos__descripcion-icono-bano--icono{
                width: 25px;
                height: 25px;
            }
        }

        .tarjeta-deptos__descripcion-icono-bano-texto{
            grid-area: icono-bano-texto;
        }

        .tarjeta-deptos__descripcion-icono-ubicacion{
            grid-area: icono-ubicacion;
            justify-self: center;

            .tarjeta-deptos__descripcion-icono-ubicacion--icono{
                width: 20px;
                height: 20px;
            }
        }

        .tarjeta-deptos__descripcion-icono-ubicacion-texto{
            grid-area: icono-ubicacion-texto;
        }

        .tarjeta-deptos__descripcion-icono-ubicacion-boton{
            grid-area: boton;
            justify-self: end;
            align-self: end;
            margin-right: 20px;
        }
    }
}

.titulos
/*comparte con segunda seccion*/ {
    background: white;
    text-align: center;
    color:$color-fuente;
    font-family: 'Quicksand', sans-serif;
}

/*segunda seccion INDEX*/
.panel-recomendaciones {
    background: #efeaee;
    margin-top: 50px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-evenly;
    font-family: 'Quicksand', sans-serif;

    .panel-recomendaciones__foto-verano{
        margin-bottom: 30px;
        width: 100%;
        height: 366px;
        object-fit: cover;
        box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, 0.26);
    }
    .panel-recomendaciones__foto-cerveza{
        margin-bottom: 30px;
        width: 100%;
        height: 366px;
        object-fit: cover;
        box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, 0.26);
    }

    .panel-recomendaciones__foto-lugares{
        margin-bottom: 30px;
        width: 100%;
        height: 366px;
        object-fit: cover;
        box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, 0.26);
    }

    .panel-recomendaciones__foto-invierno{
        margin-bottom: 30px;
        width: 100%;
        height: 366px;
        object-fit: cover;
        box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, 0.26);
    }

    .panel-recomendaciones__contenedor{
        position:relative;
        display: inline-block;
        text-align: center;
    }
    .panel-recomendaciones__texto-recomendacion-chico{
        width: 95%;
        height: 366px;
        background-color: rgba(31,31,31,0.4);
        opacity: 0;
        color: white;
        position: absolute;
        top: 46%;
        left: 50%;
        vertical-align: middle;
        transform: translate(-50%, -50%);
        transition: 0.4s;
    }

    .panel-recomendaciones__contenedor:hover .panel-recomendaciones__texto-recomendacion-chico {
        opacity: 1;
    }

    .panel-recomendaciones__texto-recomendacion-grande{
        width: 96%;
        height: 366px;
        background-color: rgba(31,31,31,0.4);
        opacity: 0;
        color: white;
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
    }

    .panel-recomendaciones__contenedor:hover .panel-recomendaciones__texto-recomendacion-grande {
        opacity: 1;
    }
    .panel-recomendacion__texto-recomendacion-centrado{
        width: 60%;
        height: 50%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
    }
    .panel-recomendacion__titulo-verano{
        border-bottom:2px solid #f6e58d;
    }

    .panel-recomendacion__titulo-cena{
        border-bottom:2px solid #ff7979;
    }

    .panel-recomendacion__titulo-lugares{
        border-bottom:2px solid #badc58;
    }

    .panel-recomendacion__titulo-invierno{
        border-bottom:2px solid #7ed6df;
    }
}


/*carousel nuevo prueba*/

