section{
    font-family: 'Quicksand', sans-serif;
}
.titulo{
    margin: 100px 0px 50px 0px;
    text-align: center;
}

.subtitulos{
    margin: 50px 0px 50px 0px;
    text-align: center;
}
.seccion-links{
    margin-bottom: 200px;

    .seccion-links__tarjeta{
        margin-top: 100px;
        display: grid;
        grid-template-areas:
        "mapa mapa"
        "titulo titulo"
        "icono-horario texto-horario"
        "icono-telefono texto-telefono"
        "icono-direccion texto-direccion";
        grid-template-columns: 50px 170px;
        grid-template-rows: 200px 60px 45px 45px 45px;
        justify-items: center;
        align-items: center;

        .seccion-links__tarjeta-mapa{
            grid-area: mapa;
            width: 220px;
            height: 200px;
        }
        .seccion-links__tarjeta-titulo-tarjeta{
            grid-area: titulo;
            text-align: center;
            align-self: center;
        }
        .seccion-links__tarjeta-horario-icono{
            grid-area: icono-horario;
            width: 20px;
            height: 20px;
        }
        .seccion-links__tarjeta-horario-texto{
            grid-area: texto-horario ;
            font-size: 14px;
            align-self: center;
            justify-self: start;
            margin-top: 17px;
        }
        .seccion-links__tarjeta-telefono-icono{
            grid-area: icono-telefono;
            width: 20px;
            height: 20px;
        }
        .seccion-links__tarjeta-texto-telefono{
            grid-area: texto-telefono;
            font-size: 14px;
            align-self: center;
            justify-self: start;
            margin-top: 17px;
        }
        .seccion-links__tarjeta-direccion-icono{
            grid-area: icono-direccion;
            width: 20px;
            height: 20px;
        }
        .seccion-links__tarjeta-direccion-texto{
            grid-area: texto-direccion;
            font-size: 14px;
            align-self: end;
            justify-self: start;
            margin-top: 20px;
        }
    }
}