section{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 100px;
}
.titulo{
    margin-top: 100px;
    margin-bottom: 110px;
    text-align: center;
    color: $color-fuente;
    font-size: 40px;
    border-bottom: 1px solid#a1a7aa;
}

.subtitulos{
    margin: 100px 0px 0px 0px;
    text-align: center;
}

.texto{
    text-align: center;
    margin: 50px 0px 50px 0px;
    text-align: justify;
}
.seccion-links{
    margin-bottom: 50px;
    padding-left: 20px;

    .seccion-links__tarjeta{
        margin-top: 50px;
        display: grid;
        grid-template-areas:
        "mapa mapa"
        "titulo titulo"
        "icono-horario texto-horario"
        "icono-telefono texto-telefono"
        "icono-direccion texto-direccion";
        grid-template-columns: 25% 75%;
        grid-template-rows: 230px 60px 45px 45px 45px;
        justify-items: center;
        align-items: center;
        background: white;
        box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, 0.26);

        .seccion-links__tarjeta-mapa{
            grid-area: mapa;
            width: 239px;
            height: 230px;
            justify-self: stretch;
            margin-right: 5px;
        }
        .seccion-links__tarjeta-titulo-tarjeta{
            grid-area: titulo;
            text-align: center;
            align-self: center;
            font-size: 18px;
        }

        .seccion-links__tarjeta-horario-icono{
            grid-area: icono-horario;
            width: 20px;
            height: 20px;
        }
        .seccion-links__tarjeta-horario-texto{
            grid-area: texto-horario ;
            font-size: 12px;
            align-self: center;
            justify-self: start;
            margin-top: 17px;
        }
        .seccion-links__tarjeta-telefono-icono{
            grid-area: icono-telefono;
            width: 20px;
            height: 20px;
        }
        .seccion-links__tarjeta-texto-telefono{
            grid-area: texto-telefono;
            font-size: 12px;
            align-self: center;
            justify-self: start;
            margin-top: 17px;
        }
        .seccion-links__tarjeta-direccion-icono{
            grid-area: icono-direccion;
            width: 20px;
            height: 20px;
        }
        .seccion-links__tarjeta-direccion-texto{
            grid-area: texto-direccion;
            font-size: 12px;
            align-self: end;
            justify-self: start;
            margin-top: 20px;
        }
    }
}
